<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Status Notification</title>
  </head>
  <body
    style="
      background-color: rgb(243, 244, 246);
      margin: 0;
      padding: 20px 5px;
      box-sizing: border-box;
    "
  >
    <div
      class="header"
      style="
        background-color: white;
        padding: 20px;
        max-width: 600px;
        margin: auto;
        box-shadow: -1px 3px 16px 5px rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        font-family: Arial, sans-serif;
      "
    >
      <img
        class="header_logo"
        src="https://jobs.deerwalktrainingcenter.com/_next/image?url=%2Fimages%2FDWJ.png&w=256&q=75"
        alt="Logo"
        style="display: block; margin-bottom: 24px; width: 16rem"
      />

      <p
        class="first_text"
        style="
          font-size: 28px;
          font-weight: bold;
          color: #252525;
          margin-bottom: 24px;
        "
      >
        Your company has been {{customCompanyStatus}}!
      </p>

      <p
        class="second_text"
        style="font-size: 20px; color: #252525; margin-bottom: 24px"
      >
        Hello {{companyName}},
      </p>

      <p
        class="second_text"
        style="font-size: 18px; color: #252525; margin-bottom: 24px"
      >
        We are writing to inform you that your company has been
        {{customCompanyStatus}}.
      </p>
      <p
        class="third_text"
        style="font-size: 16px; color: #505050; margin-bottom: 10px"
      >
        If you have any questions or need further assistance, please feel free
        to contact our support team.
      </p>
    </div>
  </body>
</html>
